.container{
    max-width: 1280px;
    width: 100%;
    position: relative;
    margin-inline: auto;
    padding-inline: len;
}

.pos-relative{
    position: relative;
}

.pos-abs{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}